<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{base/layout}">
<div layout:fragment="content">

<!--    slider section 轮播图-->
    <div class="slider_wrapper">
        <div class="slider-pro" id="my-slider">
            <div class="sp-slides">

                <div class="sp-slide">
                    <h3 class="sp-layer sp-black sp-padding hide-small-screen" data-width="80%" data-position="topRight"
                        data-horizontal="8%" data-vertical="25%" data-show-transition="right" data-hide-transition="up"
                        data-show-delay="800" data-hide-delay="100">
                        你还可以在这里分享你的游玩日记,即时分享你的快乐.找攻略、订酒店全都有,给你提供一站式的旅游社区化服务.
<!--                        <span class="read-more"><a href="javascript:void(0);">查看更多</a></span>-->
                    </h3>
                </div>

                <div class="sp-slide">
                    <h3 class="sp-layer sp-black sp-padding hide-small-screen" data-width="80%" data-position="topRight"
                        data-horizontal="8%" data-vertical="25%" data-show-transition="right" data-hide-transition="up"
                        data-show-delay="800" data-hide-delay="100">
                        欢迎大家的到来
<!--                        <span class="read-more"><a href="javascript:void(0);">查看更多</a></span>-->
                    </h3>
                </div>

            </div>

        </div>
    </div>

<!--    -->
    <div class="main-page-container">
        <div class="container">
            <div class="row med_toppadder30">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


<!--                    <div class="cy-title">
                        <h2>热门美食</h2>
                        <div class="pull-right">
                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="javascript:void(0);">更多 <i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
&lt;!&ndash;                精选套餐列表&ndash;&gt;

                    <div class="foodPin">
                        <div class="entity">
                            <a href="#">
                                <img class="entity-img" src="https://ts1.cn.mm.bing.net/th/id/R-C.466bb61cd7cf4e8b7d9cdf645add1d6e?rik=YRZKRLNWLutoZA&riu=http%3a%2f%2f222.186.12.239%3a10010%2fwmxs_161205%2f002.jpg&ehk=WEy01YhyfNzzQNe1oIqxwgbTnzY7dMfmZZHkqpZB5WI%3d&risl=&pid=ImgRaw&r=0" alt="img">

                            </a>
                            <div class="entity-name"><a href="#" >foodName</a></div>
                            <div class="pinPeo">
                                &lt;!&ndash; Imgelist &ndash;&gt;
                                <div class="img-list">
                                    <a href=""> <img class="picImg" alt="img" src="https://ts1.cn.mm.bing.net/th/id/R-C.466bb61cd7cf4e8b7d9cdf645add1d6e?rik=YRZKRLNWLutoZA&riu=http%3a%2f%2f222.186.12.239%3a10010%2fwmxs_161205%2f002.jpg&ehk=WEy01YhyfNzzQNe1oIqxwgbTnzY7dMfmZZHkqpZB5WI%3d&risl=&pid=ImgRaw&r=0"/></a>
                                    <a href=""> <img class="picImg" alt="img" src="https://ts1.cn.mm.bing.net/th/id/R-C.466bb61cd7cf4e8b7d9cdf645add1d6e?rik=YRZKRLNWLutoZA&riu=http%3a%2f%2f222.186.12.239%3a10010%2fwmxs_161205%2f002.jpg&ehk=WEy01YhyfNzzQNe1oIqxwgbTnzY7dMfmZZHkqpZB5WI%3d&risl=&pid=ImgRaw&r=0"/></a>
                                    <a href=""> <img class="picImg" alt="img" src="https://ts1.cn.mm.bing.net/th/id/R-C.466bb61cd7cf4e8b7d9cdf645add1d6e?rik=YRZKRLNWLutoZA&riu=http%3a%2f%2f222.186.12.239%3a10010%2fwmxs_161205%2f002.jpg&ehk=WEy01YhyfNzzQNe1oIqxwgbTnzY7dMfmZZHkqpZB5WI%3d&risl=&pid=ImgRaw&r=0"/></a>
                                </div>
                                <p><a href="javascript:void(0);">现在购买仅需XX元！</a></p>
                            </div>
                        </div>
                    </div>-->


                    <div class="cy-title">
                        <h2>热门酒店</h2>
                        <div class="pull-right">
                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a th:href="@{/reserve/reserveHotelListUI}">更多 <i
                                                class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="main-cont">
                        <div class="tab-content">
                            <div class="tab-pane active" id="c01">
                                <div id="oc-news" class="owl-carousel owl-theme">
                                    <div th:each="hotel:${top10Hotel}" class="item">
                                        <div class="cy-news-post clearfix">
                                            <div class="entry-image">
                                                <a th:href="@{/reserve/hotelDetailsUI(id=${hotel.id})}"><img
                                                        class="image_fade"
                                                        th:src="@{${hotel.image}}"
                                                        alt="Image"></a>
                                            </div>
                                            <div class="entry-title">
                                                <h4><a th:href="@{/reserve/hotelDetailsUI(id=${hotel.id})}"
                                                       data-toggle="tooltip"
                                                       data-container="body"
                                                       th:title="${hotel.name}" th:text="${hotel.name}"></a>
                                                </h4>
                                            </div>
                                            <div class="entry-content">
                                                <p th:text="${hotel.describe}">
                                                </p>
                                            </div>
                                            <ul class="entry-meta clearfix">
                                                <li th:text="${#calendars.format(hotel.createDate,'yyyy-MM-dd')}"><i
                                                        class="fa fa-calendar"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="row med_bottompadder30">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="cy-title">
                        <h2>热门景点</h2>
                        <div class="pull-right">

                            <div class="main-tabs">
                                <a th:href="@{/reserve/reserveAttractionsListUI}">更多 <i
                                        class="fa fa-angle-right"></i></a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="main-cont">
                        <div class="tab-content">
                            <div class="tab-pane active" id="cp01">
                                <div id="oc-kx" class="owl-carousel owl-theme">
                                    <div th:each="attractions:${top10Attractions}" class="item">
                                        <div class="cy-kx-post clearfix">
                                            <a th:href="@{/reserve/attractionsDetailsUI(id=${attractions.id})}">
                                                <div class="entry-image">
                                                    <img th:src="@{${attractions.image}}"
                                                         alt="Image">
                                                </div>
                                                <div class="entry-content">
                                                    <p th:text="${attractions.name}"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cy-title">
                        <h2>景区游玩攻略</h2>
                        <div class="pull-right">
                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a th:href="@{/strategy/travelStrategyListUI}">更多 <i
                                                class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ul class="main-cy-thesis">
                        <li th:each="strategy:${top10Strategy}">
                            <a th:href="@{/strategy/travelStrategyDetailsUI(id=${strategy.id})}"
                               data-toggle="tooltip" data-container="body"
                               th:title="${strategy.title}"
                               th:text="${strategy.title}">xxxxxxxxxxxx</a>
                        </li>
                    </ul>

                    <div class="cy-title">
                        <h2>热门路线</h2>
                        <div class="pull-right">
                            <div class="main-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a th:href="@{/route/travelRouteListUI}">更多 <i
                                                class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="main-cy-thesis">
                        <li th:each="route:${top10Route}"><a th:href="@{/route/travelRouteDetailsUI(id=${route.id})}"
                                                             data-toggle="tooltip" data-container="body"
                                                             th:title="${route.name}" th:text="${route.name}">xxxxxxxxxxxx</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="cy-title">
                        <h2>联系我们</h2>
                    </div>
                    <ul class="cy-contact">
                        <li><i class="fa fa-map-marker"></i> 地址：广西柳州龙潭公园</li>
                        <li><i class="fa fa-compass"></i> 邮编：545005</li>
                        <li><i class="fa fa-phone"></i> 电话：155xxxxxxx9</li>
                        <li><i class="fa fa-envelope"></i> 电子邮箱：2382485815@qq.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--main section end-->

    <script src="js/jquery_min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- jquery 轮播图 插件-->
    <script src="plugins/slider-pro/js/jquery.sliderPro.min.js"></script>
    <script src="plugins/owlcarousel/js/owl.carousel.min.js"></script>

    <script src="js/custom.js"></script>
    <!--js code-->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#my-slider').sliderPro({
                arrows: true,
                waitForLayers: true,
                autoplay: false,
                fade: true,
                buttons: false,
                autoScaleLayers: false,
                width: 1170,
                height: 400
            });

            $('.image_fade').hover(function () {
                $(this).filter(':not(:animated)').animate({opacity: 0.8}, 400);
            }, function () {
                $(this).animate({opacity: 1}, 400);
            });

            $("#oc-news").owlCarousel({
                margin: 30,
                nav: true,
                loop: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                responsive: {
                    0: {items: 1},
                    480: {items: 2},
                    768: {items: 3},
                    992: {items: 4}
                }
            });

            $("#oc-kx").owlCarousel({
                margin: 15,
                nav: true,
                loop: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                responsive: {
                    0: {items: 1},
                    480: {items: 2},
                    768: {items: 3},
                    992: {items: 4}
                }
            });

            setInterval(function () {
                var buy = $('.sp-previous-arrow')[0];//给你的a标签加一个id :btnBuy
                buy.click();
            }, 5000)//后面的500是以毫秒为单位。
        });

    </script>
</div>
</html>
